<!DOCTYPE html>
<html>
<head>
  <title>Ivan the Terrible's Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <h1>Ivan the Terrible's Blog</h1>

    <section class="blog">
      <section class="post">
        <% @posts.each do |post| %>

            <h2>Post <%= "#{post.id}: #{post.title}" %></h2>
            <div class="post"><%= post.body %></div>
              <div class="post_nav">
                <%= link_to 'Show Comments', post %> |
              </div>
            <% post.comments.each do |comment| %>

                <div class="comment">
                  <h3>Comment <%= comment.id %>:</h3>
                  <p><%= comment.body %></p>
                  <div class="reply">
                    <% comment.replies.each do |reply| %>
                      <h4>Reply <%= reply.id %>:</h4>
                      <p><%= reply.body %></p>
                    <% end %>
                  </div>
                </div>

          <% end %>
        <% end %>
      </section>
    </section>
    <br />
    <%= link_to 'New Post', new_post_path %>
  </body>
</html>
